<!-- Bao toàn bộ nội dung vào ng-container -->
<ng-container *ngIf="dataLoaded">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Desktop View: Navbar Content -->
                <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-wrap align-items-center">
                        <li class="nav-item mx-2" *ngFor="let link of socialLinks">
                            <a class="nav-link text-white" [href]="link.url">
                                <i [class]="link.icon"></i>
                            </a>
                        </li>

                        <li class="nav-item" *ngFor="let item of navbarContent">
                            <ng-container *ngIf="item.isUser; else nonUser">
                                <button class="btn btn-danger">
                                    <i class="fa-solid fa-user-circle me-2"></i>{{ item.label }}
                                </button>
                            </ng-container>
                            <ng-template #nonUser>
                                <button class="btn btn-secondary" [routerLink]="item.routerLink"
                                    (click)="item.action ? item.action($event) : null">
                                    {{ item.label }}
                                </button>
                            </ng-template>
                        </li>
                    </ul>
                </div>


                <!-- Mobile View: Navbar Toggle and Content -->
                <div class="d-lg-none d-flex flex-column w-100">
                    <!-- Menu Toggle Button -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu"
                        aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars"></i>
                    </button>

                    <!-- Mobile Menu -->
                    <div class="collapse" id="mobileMenu">
                        <!-- Mobile Logo -->
                        <a class="navbar-brand mx-auto" >
                            <img src="../../../../assets/img/LOGO/LOGO_1.png" alt="Logo" class="logo">
                        </a>

                        <!-- Home, Sign Up, and My Account Buttons on Mobile -->
                        <div class="d-flex flex-column align-items-start p-3">
                            <button class="btn w-100" routerLink="/home">Home</button>
                            <button class="btn btn-secondary mb-2 w-100" routerLink="/auth/login"
                                *ngIf="!CurrentUser">Sign Up</button>
                            <button class="btn btn-secondary mb-2 w-100" (click)="logout()">Logout</button>
                            <button class="btn btn-danger w-100 mb-2"><i
                                    class="fa-solid fa-user-circle me-2"></i>{{CurrentUser}}</button>

                            <button class="btn btn-secondary mb-2 w-100" routerLink="/order-history" *ngIf="CurrentUser">
                                <i class="fa-solid fa-history me-2"></i>View History
                            </button>
                            <button class="btn btn-secondary mb-2 w-100" routerLink="/cart" *ngIf="CurrentUser">
                                <i class="fa-solid fa-cart-shopping me-2"></i>Giỏ hàng
                            </button>                            
                            <button class="btn btn-danger w-100" *ngIf="!CurrentUser"><i
                                    class="fa-solid fa-user-circle me-2"></i> My Account</button>
                        </div>

                        <!-- Social Icons on Mobile -->
                        <div class="social-icons d-flex justify-content-start p-3">
                            <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-x"></i></a>
                            <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-tiktok"></i></a>
                            <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="header-content d-flex align-items-center justify-content-between text-white p-3">
            <img src="../../../../assets/img/LOGO/LOGO_1.png" alt="Logo" class="logo" (click)="navigateToHome()">
            <div class="search-container position-relative">
                <input type="search" class="form-control search-box" placeholder="Tìm theo điểm đến, hoạt động" [(ngModel)]="searchQuery" (keydown.enter)="onSearch()">
                <i class="fa-solid fa-search search-icon position-absolute" (click)="onSearch()"></i>
            </div>
            <div class="extra-options d-flex align-items-center gap-5">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://hoianmemoriesland.com/public/images/flag-vi.png" alt="Vietnam Flag"
                            class="vietnam-flag">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="https://hoianmemoriesland.com/vi?lang=en"><img
                                    src="https://hoianmemoriesland.com/public/images/flag-en.png" alt="EN"> English</a>
                        </li>
                        <li><a class="dropdown-item" href="https://hoianmemoriesland.com/vi?lang=cn"><img
                                    src="https://hoianmemoriesland.com/public/images/flag-cn.png.pagespeed.ce.S_Je3nHuQy.png"
                                    alt="CN"> 中文</a></li>
                        <li><a class="dropdown-item" href="https://hoianmemoriesland.com/vi?lang=kr"><img
                                    src="https://hoianmemoriesland.com/public/images/flag-kr.png.pagespeed.ce.Yu1xtOL70k.png"
                                    alt="KR"> 한국어</a></li>
                    </ul>
                </div>
                <div class="user-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <select class="form-select currency-selector ms-3">
                    <option value="vnd">VND</option>
                    <option value="usd">USD</option>
                </select>
                <div>
                    <p class="cart" routerLink="/cart">Giỏ hàng</p>
                </div>
            </div>
        </div>
    </header>
</ng-container>