<!-- Bao toàn bộ nội dung vào ng-container
<ng-container *ngIf="dataLoaded">
  <header class="header-home-page">
    <div class="header-first-component">
      <div style="display: block; width: 336px"></div>
      <div class="header-first-logo">
        <a routerLink="/">
          <img
            alt="logo_banner"
            loading="lazy"
            width="295"
            height="60"
            decoding="async"
            data-nimg="1"
            style="color: transparent"
            src="https://futabus.vn/_next/static/media/logo_new.8a0251b8.svg"
          />
        </a>
      </div>
      <div class="header-first-log">
        <div class="flex items-start gap-4 text-center text-sm font-medium">
          <a
            class="flex h-8 w-44 cursor-pointer items-center gap-3 rounded-2xl bg-white p-2 text-black"
            routerLink="/login"
          >
            <img
              src="../../../../assets/img/LOGO/person.svg"
              alt="person"
              width="20"
              height="20"
            />Đăng nhập / Đăng ký
          </a>
        </div>
      </div>
    </div>

    <div class="header-second-component">
      <a
        class="mx-2 w-32 pb-3 text-center text-sm uppercase text-white hover:font-bold hover:text-white border-b-4 border-b-white font-bold"
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Trang chủ</a
      >
      <a
        class="mx-2 w-32 pb-3 text-center text-sm uppercase text-white hover:font-bold hover:text-white font-medium"
        routerLink="/lich-trinh"
        routerLinkActive="active"
        >Lịch trình</a
      >
      <a
        class="mx-2 w-32 pb-3 text-center text-sm uppercase text-white hover:font-bold hover:text-white font-medium"
        routerLink="/tra-cuu-ve"
        routerLinkActive="active"
        >Tra cứu vé</a
      >
      <a
        class="mx-2 w-32 pb-3 text-center text-sm uppercase text-whiteF hover:font-bold hover:text-white font-medium"
        rel="noopener noreferrer"
        target="_blank"
        href="https://hoadon.futabus.vn/#/tracuuhoadon/tracuu"
        >Hóa đơn</a
      >
    </div>
  </header>
</ng-container> -->
