<h2 class="text-center m-2">Statistics</h2>

<h3 class="m-2">Total revenue</h3>
<div class="container">
    <div class="form-group form-inline row">
        <!-- Filter by Month -->
        <div class="col-md-4 col-12 d-flex align-items-center mb-2">
            <label for="monthFilter" class="m-2">Filter by Month</label>
            <select class="form-control mr-md-3" id="monthFilter" name="monthFilter" [(ngModel)]="selectedMonth" style="width: auto;">
                <option value="0">-- Select Month --</option>
                <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
            </select>
        </div>
    
        <!-- Year -->
        <div class="col-md-4 col-12 d-flex align-items-center mb-2">
            <label for="yearFilter" class="mr-2">Year</label>
            <select class="form-control mr-md-3" id="yearFilter" name="yearFilter" [(ngModel)]="selectedYear" style="width: auto;">
                <option value="0">-- Select Year --</option>
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
            </select>
        </div>
    
        <!-- Filter Button -->
        <div class="col-md-4 col-12 d-flex justify-content-md-start justify-content-center align-items-center mb-2">
            <button class="btn btn-primary" (click)="filterTours()">Filter</button>
        </div>
    </div>
     
</div>
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">{{statisticMonthYear?.totalPrice}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Mean Sale</p>
                    <h6 class="mb-0">{{statisticMonthYear?.avgPrice}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Ticker</p>
                    <h6 class="mb-0">{{statisticMonthYear?.totalTicket}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Mean Ticker</p>
                    <h6 class="mb-0">{{statisticMonthYear?.avgTicket}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->

<h3 class="m-2">Total each month</h3>
<!-- Sales Chart Start -->
<div class="form-group d-flex align-items-center">
    <label for="yearFilter" class="m-2">Filter by Year: </label>
    <select class="form-control mr-3" id="yearFilter" name="yearFilter" [(ngModel)]="selectedYears" style="width: auto;">
        <option value="0">-- Select Year --</option>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
    
    <button class="btn btn-primary" (click)="filterYears()">Filter</button>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Worldwide Sales</h6>
                    <a href="">Show All</a>
                </div>
                <canvas id="worldwide-sales"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart End -->

