<main class="w-full">
  <div class="ticket-list-layout">
    <div class="shedule-input-form">
      <span class="ant-input-affix-wrapper"
        ><span class="ant-input-prefix"
          ><img
            src="https://futabus.vn/images/icons/search.svg"
            alt="search icon"
            style="padding-top: 5px" /></span
        ><input
          type="text"
          placeholder="Nhập điểm đi"
          class="ant-input"
          value=""
          #departureInput /></span
      ><img
        class="switch-location"
        src="https://futabus.vn/images/icons/switch_location.svg"
        alt="switch location icon"
        (click)="switchLocation()"
      /><span class="ant-input-affix-wrapper"
        ><span class="ant-input-prefix"
          ><img
            src="https://futabus.vn/images/icons/search.svg"
            alt="search icon"
            style="padding-top: 5px" /></span
        ><input
          type="text"
          placeholder="Nhập điểm đến"
          class="ant-input"
          value=""
          #destinationInput
      /></span>
    </div>
    <div class="shedule-results">
      <div class="ant-row schedule-card">
        <div class="ant-col ant-col-6">Tuyến xe</div>
        <div class="ant-col ant-col-2">Loại xe</div>
        <div class="ant-col ant-col-3">Quãng đường</div>
        <div class="ant-col ant-col-4">Thời gian hành trình</div>
        <div class="ant-col ant-col-2">Giá vé</div>
      </div>
      <div class="schedule-card flex w-full flex-col gap-[6px] text-left">
        <div class="ant-row items-center">
          <div class="ant-col ant-col-6">
            <div class="flex w-full items-center gap-2">
              <span class="font-medium text-orange">An Khê (Gia Lai)</span
              ><img
                src="https://futabus.vn/images/icons/ic_double_arrow.svg"
                alt="arrow"
              /><span>TP.Hồ Chí Minh</span>
            </div>
          </div>
          <div class="ant-col ant-col-2">Limousine</div>
          <div class="ant-col ant-col-3">640km</div>
          <div class="ant-col ant-col-4">13 giờ</div>
          <div class="ant-col ant-col-2">---</div>
          <div class="ant-col ant-col-2"></div>
          <div class="ant-col flex justify-end" style="flex: 1 1 auto">
            <button
              type="button"
              class="ant-btn ant-btn-round ant-btn-default button-default mr-2"
            >
              <span>Tìm tuyến xe</span>
            </button>
          </div>
        </div>
        <div class="ant-row items-center">
          <div class="ant-col ant-col-6">
            <div class="flex w-full items-center gap-2">
              <span class="font-medium text-orange">An Khê (Gia Lai)</span
              ><img
                src="https://futabus.vn/images/icons/ic_double_arrow.svg"
                alt="arrow"
              /><span>TP.Hồ Chí Minh</span>
            </div>
          </div>
          <div class="ant-col ant-col-2">Limousine</div>
          <div class="ant-col ant-col-3">690km</div>
          <div class="ant-col ant-col-4">14 giờ</div>
          <div class="ant-col ant-col-2">---</div>
          <div class="ant-col ant-col-2"></div>
          <div class="ant-col flex justify-end" style="flex: 1 1 auto">
            <button
              type="button"
              class="ant-btn ant-btn-round ant-btn-default button-default mr-2"
            >
              <span>Tìm tuyến xe</span>
            </button>
          </div>
        </div>
      </div>
      <div class="schedule-card flex w-full flex-col gap-[6px] text-left">
        <div class="ant-row items-center">
          <div class="ant-col ant-col-6">
            <div class="flex w-full items-center gap-2">
              <span class="font-medium text-orange">An Minh (Kiên Giang)</span
              ><img
                src="https://futabus.vn/images/icons/ic_double_arrow.svg"
                alt="arrow"
              /><span>TP.Hồ Chí Minh</span>
            </div>
          </div>
          <div class="ant-col ant-col-2">Limousine</div>
          <div class="ant-col ant-col-3">295km</div>
          <div class="ant-col ant-col-4">7 giờ</div>
          <div class="ant-col ant-col-2">---</div>
          <div class="ant-col ant-col-2"></div>
          <div class="ant-col flex justify-end" style="flex: 1 1 auto">
            <button
              type="button"
              class="ant-btn ant-btn-round ant-btn-default button-default mr-2"
            >
              <span>Tìm tuyến xe</span>
            </button>
          </div>
        </div>
      </div>
      <div class="schedule-card flex w-full flex-col gap-[6px] text-left">
        <div class="ant-row items-center">
          <div class="ant-col ant-col-6">
            <div class="flex w-full items-center gap-2">
              <span class="font-medium text-orange">An Nhơn</span
              ><img
                src="https://futabus.vn/images/icons/ic_double_arrow.svg"
                alt="arrow"
              /><span>TP. Hồ Chí Minh</span>
            </div>
          </div>
          <div class="ant-col ant-col-2">Giường</div>
          <div class="ant-col ant-col-3">639km</div>
          <div class="ant-col ant-col-4">11 giờ 30 phút</div>
          <div class="ant-col ant-col-2">---</div>
          <div class="ant-col ant-col-2"></div>
          <div class="ant-col flex justify-end" style="flex: 1 1 auto">
            <button
              type="button"
              class="ant-btn ant-btn-round ant-btn-default button-default mr-2"
            >
              <span>Tìm tuyến xe</span>
            </button>
          </div>
        </div>
        <div class="ant-row items-center">
          <div class="ant-col ant-col-6">
            <div class="flex w-full items-center gap-2">
              <span class="font-medium text-orange">An Nhơn</span
              ><img
                src="https://futabus.vn/images/icons/ic_double_arrow.svg"
                alt="arrow"
              /><span>TP. Hồ Chí Minh</span>
            </div>
          </div>
          <div class="ant-col ant-col-2">Giường</div>
          <div class="ant-col ant-col-3">660km</div>
          <div class="ant-col ant-col-4">13 giờ 46 phút</div>
          <div class="ant-col ant-col-2">---</div>
          <div class="ant-col ant-col-2"></div>
          <div class="ant-col flex justify-end" style="flex: 1 1 auto">
            <button
              type="button"
              class="ant-btn ant-btn-round ant-btn-default button-default mr-2"
            >
              <span>Tìm tuyến xe</span>
            </button>
          </div>
        </div>
        <div class="ant-row items-center">
          <div class="ant-col ant-col-6">
            <div class="flex w-full items-center gap-2">
              <span class="font-medium text-orange">An Nhơn</span
              ><img
                src="https://futabus.vn/images/icons/ic_double_arrow.svg"
                alt="arrow"
              /><span>TP.Hồ Chí Minh</span>
            </div>
          </div>
          <div class="ant-col ant-col-2">---</div>
          <div class="ant-col ant-col-3">627km</div>
          <div class="ant-col ant-col-4">10 giờ 7 phút</div>
          <div class="ant-col ant-col-2">---</div>
          <div class="ant-col ant-col-2"></div>
          <div class="ant-col flex justify-end" style="flex: 1 1 auto">
            <button
              type="button"
              class="ant-btn ant-btn-round ant-btn-default button-default mr-2"
            >
              <span>Tìm tuyến xe</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
