.ticket-list-layout {
  tab-size: 4;
  font-variation-settings: normal;

  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(17 17 17);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  font-family: InterTight;
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  .shedule-input-form {
    tab-size: 4;
    font-variation-settings: normal;
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(17 17 17);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    font-family: InterTight;
    position: relative !important;
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    gap: 1rem !important;
    .ant-input-affix-wrapper {
      tab-size: 4;
      font-variation-settings: normal;
      font-variant: tabular-nums;
      font-feature-settings: "tnum";
      font-family: InterTight;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      min-width: 0;
      padding: 4px 11px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      line-height: 1.5715;
      transition: all 0.3s;
      display: inline-flex;
      background: #fff;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 24px;
      .ant-input-prefix {
        tab-size: 4;
        font-variation-settings: normal;
        font-variant: tabular-nums;
        font-feature-settings: "tnum";
        font-family: InterTight;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        line-height: 1.5715;
        box-sizing: border-box;
        border: 0 solid #e5e7eb;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        justify-content: center;
      }
      .ant-input {
        tab-size: 4;
        font-family: inherit;
        font-variation-settings: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        box-sizing: border-box;
        margin: 0;
        font-variant: tabular-nums;
        list-style: none;
        font-feature-settings: "tnum";
        position: relative;
        display: inline-block;
        width: 100%;
        min-width: 0;
        color: rgba(0, 0, 0, 0.85);
        background-image: none;
        transition: all 0.3s;
        background-color: #fff;
        border-radius: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        touch-action: manipulation;
        text-overflow: ellipsis;
        padding: 0;
        border: none;
        outline: none;
      }
      &:hover {
        border-color: #fc7b4c;
        border-right-width: 1px;
        z-index: 1;
      }
    }
    .switch-location {
      tab-size: 4;
      font-variation-settings: normal;
      font-variant: tabular-nums;
      font-feature-settings: "tnum";
      font-size: 1rem;
      line-height: 1.5rem;
      color: rgb(17 17 17);
      font-family: InterTight;
      box-sizing: border-box;
      border: 0 solid #e5e7eb;
      border-style: none;
      display: block;
      vertical-align: middle;
      max-width: 100%;
      height: auto;
      position: absolute;
      z-index: 10;
      cursor: pointer;
      object-fit: contain;
      transition: 0.3s;
      transform: rotate(0deg);
      &:hover {
        cursor: pointer;
        transform: rotate(180deg);
      }
    }
  }
  .shedule-results {
    tab-size: 4;
    font-variation-settings: normal;
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(17 17 17);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    font-family: InterTight;
    margin-top: 1.5rem !important;
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
    gap: 1rem !important;
    overflow: auto !important;
    .schedule-card {
      border: 1px solid #dde2e8;
      border-radius: 16px;
      max-height: 144px;
      padding: 16px 12px 12px;
      overflow: overlay;
      min-width: 810px;
      gap: 6px !important;
    }
    .ant-row {
      tab-size: 4;
      font-variation-settings: normal;
      font-variant: tabular-nums;
      font-feature-settings: "tnum";
      font-size: 1rem;
      line-height: 1.5rem;
      color: rgb(17 17 17);
      box-sizing: border-box;
      font-family: InterTight;
      flex-flow: row wrap;
      display: flex;
      .ant-col {
        position: relative;
        min-height: 1px;
      }
      .ant-col-6 {
        display: block;
        flex: 0 0 25%;
        max-width: 25%;
      }
      .ant-col-4 {
        display: block;
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
      }
      .ant-col-3 {
        display: block;
        flex: 0 0 12.5%;
        max-width: 12.5%;
      }
      .ant-col-2 {
        display: block;
        flex: 0 0 8.33333333%;
        max-width: 8.33333333%;
      }
      .text-orange {
        color: #ef5222;
      }
      .ant-btn {
        tab-size: 4;

        box-sizing: border-box;
        overflow: visible;
        font-family: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        margin: 0;
        text-transform: none;
        line-height: 1.5715;
        position: relative;
        display: inline-block;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        user-select: none;
        touch-action: manipulation;
        outline: 0;
        height: 32px;
        font-size: 14px;
        border-radius: 32px;
        margin-right: 0.5rem !important;
        background: rgba(239, 82, 34, 0.15);
        color: #ef5222;
        border: none;
        padding: 0 20px;
      }
    }
  }
}
