.footer-home-page {
  tab-size: 4;
  font-variation-settings: normal;

  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  line-height: 1.5rem;
  color: rgb(17 17 17);
  font-family: InterTight;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  width: 100% !important;
  background-color: rgb(255 247 245) !important;
  font-size: 15px !important;
}
