<ng-container *ngIf="dataLoaded">
  <footer class="footer-home-page">
    <div class="footer-firstComponent">
      <div class="firstComponent-content">
        <div class="firstComponent-content-left">
          <div class="fC-c-l-1">
            <div>
              <p></p>
              <a href=""></a>
            </div>
            <a href="">
              <div><img src="" alt="" /></div>
            </a>
          </div>
          <span class="fC-c-l-2"></span>
          <span class="fC-c-l-3"> <span></span><span></span> </span>
          <span class="fC-c-l-4"><a href=""></a></span>
          <div class="fC-c-l-5">
            <span><a href=""></a></span>
            <span><a href=""></a></span>
          </div>
        </div>
        <div class="firstComponent-content-right"></div>
      </div>
    </div>
    <div class="footer-secondComponent"></div>
    <div class="footer-thirdComponent"></div>
  </footer>
</ng-container>
