<!-- <ng-container *ngIf="dataLoaded">
  <footer class="app-footer">
    <div class="app-footer__top">
      <div class="app-footer__top-container">
        <div class="app-footer__info">
          <div class="app-footer__contact">
            <p class="app-footer__contact-title">TRUNG TÂM TỔNG ĐÀI & CSKH</p>
            <a href="tel:19006067" class="app-footer__phone">1900 6067</a>
          </div>
          <a
            target="_blank"
            href="http://online.gov.vn/Home/WebDetails/14029"
            class="app-footer__gov-link"
          >
            <div class="app-footer__gov-image-container">
              <img
                alt=""
                loading="lazy"
                decoding="async"
                data-nimg="fill"
                src="https://cdn.futabus.vn/futa-busline-cms-dev/logo_Sale_Noti_7dab1d54a1/logo_Sale_Noti_7dab1d54a1.png"
                class="app-footer__gov-image"
              />
            </div>
          </a>
        </div>

        <span class="app-footer__company-name"
          >Công ty cổ phần xe khách Phương Trang - FUTA Bus Lines</span
        >
        <span class="app-footer__address"
          ><span>Địa chỉ:</span>
          <span
            >Số 01 Tô Hiến Thành, Phường 3, Thành phố Đà Lạt, Tỉnh Lâm Đồng,
            Việt Nam.</span
          ></span
        >
        <span class="app-footer__email">
          Email:
          <a href="mailto:hotro@futa.vn" class="app-footer__email-link"
            >hotrofuta.vn</a
          >
        </span>
        <div class="app-footer__phone-fax">
          <span class="app-footer__phone-number">
            Điện thoại:
            <a href="tel:02838386852">02838386852</a>
          </span>
          <span class="app-footer__fax-number">
            Fax: <a href="tel:02838386853">02838386853</a>
          </span>
        </div>
      </div>
    </div>

    <div class="app-footer__bottom">
      <span
        >© 2023<span>|</span>Bản quyền thuộc về Công ty Cổ Phần Xe khách Phương
        Trang - FUTA Bus Lines 2023</span
      >
      <span>|</span>Chịu trách nhiệm quản lý nội dung: Ông Võ Duy Thành
    </div>
  </footer>
</ng-container> -->
