<div class="container-fluid position-relative bg-white d-flex p-0">
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="#" class="navbar-brand mx-4 mb-3">
                <img class="" src="../../../../assets/img/LOGO/LOGO_1.png" alt="" style="width: 100%; height: 40px;">
            </a>

            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="assets/img/DEFAULT/default-user.png" alt=""
                        style="width: 40px; height: 40px;">
                    <div
                        class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                    </div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">ABC JOIN (Nhớ sửa Username)</h6>
                    <span>Quản trị viên</span>
                </div>
            </div>

            <div class="navbar-nav w-100">
                <a routerLink="dashboard" routerLinkActive="active" class="nav-item nav-link">
                    <i class="fa fa-chart-line me-2"></i>Bảng điều khiển
                </a>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-cogs me-2"></i>Quản lý hệ thống
                    </a>
                    <div class="dropdown-menu bg-transparent border-0 dropdown-slide">
                        <a routerLink="system/city" routerLinkActive="active" class="dropdown-item">
                            <i class="fa fa-city me-2"></i>Thành phố
                        </a>
                        <a routerLink="system/station" routerLinkActive="active" class="dropdown-item">
                            <i class="fa fa-map-marker-alt me-2"></i>Trạm
                        </a>
                        <a routerLink="system/coach" routerLinkActive="active" class="dropdown-item">
                            <i class="fa fa-bus me-2"></i>Xe khách
                        </a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-route me-2"></i>Quản lý chuyến đi
                    </a>
                    <div class="dropdown-menu bg-transparent border-0 dropdown-slide">
                        <a routerLink="trip/route" routerLinkActive="active" class="dropdown-item">
                            <i class="fa fa-map me-2"></i>Lộ trình
                        </a>
                        <a routerLink="trip/schedule" routerLinkActive="active" class="dropdown-item">
                            <i class="fa fa-calendar-alt me-2"></i>Thời gian biểu
                        </a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-ticket-alt me-2"></i>Quản lý đặt vé
                    </a>
                    <div class="dropdown-menu bg-transparent border-0 dropdown-slide">
                        <a routerLink="booking/ticket" routerLinkActive="active" class="dropdown-item">
                            <i class="fa fa-ticket me-2"></i>Vé
                        </a>
                        <a routerLink="booking/invoice" routerLinkActive="active" class="dropdown-item">
                            <i class="fa fa-file-invoice-dollar me-2"></i>Hóa đơn
                        </a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-users me-2"></i>Quản lý người dùng
                    </a>
                    <div class="dropdown-menu bg-transparent border-0 dropdown-slide">
                        <a routerLink="user/profile" routerLinkActive="active" class="dropdown-item">
                            <i class="fa fa-user me-2"></i>Khách hàng
                        </a>
                        <a routerLink="user/account" routerLinkActive="active" class="dropdown-item">
                            <i class="fa fa-user-shield me-2"></i>Tài khoản
                        </a>
                    </div>
                </div>
            </div>

            <!-- Nút đăng xuất -->
            <div class="navbar-nav w-100 mt-auto">
                <a routerLink="logout" routerLinkActive="active" class="nav-item nav-link">
                    <i class="fa fa-sign-out-alt me-2"></i>Đăng xuất
                </a>
            </div>
        </nav>
    </div>

    <div class="content">
        <!-- Navbar End -->
        <router-outlet></router-outlet>
    </div>

</div>