<div class="container">
  <h2 class="my-4">Danh sách địa điểm tại {{ location }}</h2>

  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let loc of locations">
      <div class="card location-card" (click)="goToLocationDetail(loc.id)" style="cursor: pointer;">
        <img [src]="loc.image || 'https://via.placeholder.com/200x150'" alt="{{ loc.name }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ loc.name }}</h5>
          <p class="card-text">Thông tin liên hệ Sđt: {{ loc.contactInfo }}</p>
          <div class="d-flex align-items-center">
            <p class="card-text" style="margin-bottom: 0;margin-left:15px">{{ loc.rating }}</p>
            <div>
              <!-- Hiển thị các sao đầy -->
              <ng-container *ngFor="let star of [].constructor(getStars(loc.rating||0).full); let i = index">
                <i class="bi bi-star-fill text-warning"></i>
              </ng-container>
              <!-- Hiển thị sao nửa (nếu có) -->
              <ng-container *ngIf="getStars(loc.rating||0).half">
                <i class="bi bi-star-half text-warning"></i>
              </ng-container>
              <!-- Hiển thị các sao rỗng -->
              <ng-container
                *ngFor="let star of [].constructor(5 - getStars(loc.rating||0).full - (getStars(loc.rating||0).half ? 1 : 0)); let i = index">
                <i class="bi bi-star text-secondary"></i>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>