<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <!-- <a href="index.html" class="">
                            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i></h3>
                        </a> -->
                        <h3>Sign In</h3>
                    </div>
                    <form [formGroup]="userForm" (ngSubmit)="loginUser()">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" iname="email" formControlName="email" id="email" placeholder="Enter your email">
                            <label for="floatingInput">Email address</label>
                            <div class="alert" *ngIf="(userForm.controls['email']?.invalid && (userForm.controls['email']?.touched || userForm.controls['email']?.dirty))">
                                <div class="text-danger" *ngIf="userForm.controls['email'].errors?.['required']">
                                    Email is required
                                </div>
                                <div class="text-danger" *ngIf="userForm.controls['email'].errors?.['email']" >
                                    Email is invalid
                                </div>
                                <div class="text-danger" *ngIf="userForm.controls['email'].errors?.['emailNotFound']">
                                    Account not found
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" name="password" formControlName="password" id="pass" placeholder="Enter your password">
                            <label for="floatingPassword">Password</label>
                            <div class="alert" *ngIf="userForm.controls['password']?.invalid && (userForm.controls['password']?.touched || userForm.controls['password']?.dirty)">
                                <div class="text-danger" *ngIf="userForm.controls['password'].errors?.['required']">
                                    Password is required
                                </div>
                                <div class="text-danger" *ngIf="userForm.controls['password'].errors?.['invalidCredentials']">
                                    Password not machines
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end mb-4">
                            <a routerLink="/home" style="color: black;text-decoration: none;float: right;">Go to the home page</a>
                        </div>
                        <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                    </form>
                    <asl-google-signin-button type="icon" size="medium"></asl-google-signin-button>
                    <p class="text-center mb-0">Don't have an Account? <a routerLink="/auth/register" routerLinkActive="router-link-active">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>