<h2 class="text-center m-2">Tour Manager</h2>

<nav class="d-flex navbar navbar-expand-lg navbar-light bg-light navbackground">
  <div class="form-inline my-2 my-lg-0 mr-auto">
    <input [(ngModel)]="searchQuery" style="margin-left: 10px;" name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
      (keyup.enter)="searchTour()">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchTour()">Search</button>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="reset()">Show all</button>
  </div>
  <button type="button" class="m-3 btn btn-success ml-auto" (click)="displayFormCreate()">Add Tour</button>
</nav>


<div *ngIf="getALlTour.length > 0; else noData" class="container">
  <h6 class="mb-4">Responsive Table with Pagination</h6>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Start Location</th>
          <th>Is Active</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tour of pagedData">
          <th scope="row">{{ tour.id }}</th>
          <td>{{ tour.name }}</td>
          <td>{{ tour.startLocation }}</td>
          <td>
            <input type="checkbox" [checked]="tour.isActive" disabled>
          </td>
          <td>
            <button class="btn btn-warning m-2" (click)="displayFromUpdate(tour)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination controls -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
          <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Create Tour Form -->
<div *ngIf="isDisplayCreate" class="modal fade show" tabindex="-1" role="dialog"
  style="display: block; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content slide-in">
      <div class="modal-body">
          <form (ngSubmit)="onCreate()">
            <div class="row">
            <div class="col-md-6 col-sm-12">
              <h5 class="modal-title">Tour Information</h5>
              <button type="button" class="close" aria-label="Close" (click)="closeFormCreate()">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="createTourRequest!.name" name="name"
                  placeholder="Enter tour name" required>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" [(ngModel)]="createTourRequest!.description"
                  name="description" placeholder="Enter description"></textarea>
              </div>
              <div class="form-group">
                <label for="startLocation">Start Location</label>
                <input type="text" class="form-control" id="startLocation"
                  [(ngModel)]="createTourRequest!.startLocation" name="startLocation"
                  placeholder="Enter start location">
              </div>
              <div class="form-group">
                <label for="isActive">Is Active</label>
                <input type="checkbox" class="form-check-input" id="isActive" [(ngModel)]="createTourRequest!.isActive"
                  name="isActive">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="tourImage">Upload Tour Image</label>
                <input type="file" class="form-control-file" id="tourImage" (change)="onImageSelected($event)">
              </div>
              <div class="mt-3">
                <img *ngIf="imageUri" [src]="imageUri" alt="Selected Tour Image" class="mt-3 img-fluid rounded"
                  style="max-height: 300px;">
                <img *ngIf="!imageUri" src="assets/img/DEFAULT/tour-default.png" alt="Default Tour Image"
                  class="mt-3 img-fluid rounded" style="max-height: 300px;">
              </div>
              <button type="button" class="m-1 btn btn-secondary" (click)="closeFormCreate()">Cancel</button>
              <button type="submit" class="m-1 btn btn-primary">Save</button>
            </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Tour Form -->
<div *ngIf="isDisplayUpdate" class="modal fade show" tabindex="-1" role="dialog"
  style="display: block; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content slide-in">
      <div class="modal-body">
          <form (ngSubmit)="onUpdate()">
            <div class="row">
            <div class="col-md-6 col-sm-12">
              <h5 class="modal-title">Tour Information</h5>
              <button type="button" class="close" aria-label="Close" (click)="closeFormUpdate()">
                <span aria-hidden="true">&times;</span>
              </button>
              <input type="hidden" class="form-control" id="id" [(ngModel)]="updateTourRequest!.id" name="name">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="updateTourRequest!.name" name="name"
                  placeholder="Enter tour name" required>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" [(ngModel)]="updateTourRequest!.description"
                  name="description" placeholder="Enter description"></textarea>
              </div>
              <div class="form-group">
                <label for="startLocation">Start Location</label>
                <input type="text" class="form-control" id="startLocation"
                  [(ngModel)]="updateTourRequest!.startLocation" name="startLocation"
                  placeholder="Enter start location">
              </div>
              <div class="form-group">
                <label for="isActive">Is Active</label>
                <input type="checkbox" class="form-check-input" id="isActive" [(ngModel)]="updateTourRequest!.isActive"
                  name="isActive">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="tourImage">Upload Tour Image</label>
                <input type="file" class="form-control-file" id="tourImage" (change)="onImageSelected($event)">
              </div>
              <div class="mt-3">
                <img *ngIf="imageUri" [src]="imageUri" alt="Selected Tour Image" class="mt-3 img-fluid rounded"
                  style="max-height: 300px;">
                <img *ngIf="!imageUri" src="assets/img/DEFAULT/tour-default.png" alt="Default Tour Image"
                  class="mt-3 img-fluid rounded" style="max-height: 300px;">
              </div>
              <button type="button" class="m-1 btn btn-secondary" (click)="closeFormUpdate()">Cancel</button>
              <button type="submit" class="m-1 btn btn-primary">Save</button>
            </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <app-no-data-found></app-no-data-found>
</ng-template>