
<main class="main">
  <section class="main__hero">
    <div class="main__search-area">
      <div class="main__hero-banner">
        <img
          alt=""
          loading="lazy"
          decoding="async"
          data-nimg="fill"
          class="main__hero-banner-image"
          src="https://cdn.futabus.vn/futa-busline-web-cms-prod/2257_x_501_px_2ecaaa00d0/2257_x_501_px_2ecaaa00d0.png"
          style="width: 100%; height: auto"
        />
      </div>

      <div class="search-form">
        <div class="search-form__trip-type">
          <div class="trip-type-selector">
            <label class="trip-type-selector__item">
              <span class="radio">
                <input
                  type="radio"
                  class="radio__input"
                  name="tripType"
                  value="oneWay"
                  checked
                />
                <span class="radio__inner"></span>
              </span>
              <span>Một chiều</span>
            </label>

            <label class="trip-type-selector__item" style="padding-left: 10px">
              <span class="radio">
                <input
                  type="radio"
                  class="radio__input"
                  name="tripType"
                  value="roundTrip"
                />
                <span class="radio__inner"></span>
              </span>
              <span>Khứ hồi</span>
            </label>
          </div>

          <span class="search-form__guide-link">
            <a
              target="_blank"
              rel="noreferrer"
              href="/huong-dan-dat-ve-tren-web"
              >Hướng dẫn mua vé</a
            >
          </span>
        </div>
        <div class="search-form__fields" style="display: flex">
          <div class="search-form__location-group">
            <div class="search-form__location">
              <label for="departure">Điểm đi</label>
              <input
                type="text"
                id="departure"
                class="location-input"
                placeholder="Nhập điểm đi"
              />
            </div>

            <button class="search-form__switch-location">
              <img
                src="https://futabus.vn/images/icons/switch_location.svg"
                alt="switch location icon"
              />
            </button>

            <div class="search-form__location">
              <label for="destination">Điểm đến</label>
              <input
                type="text"
                id="destination"
                class="location-input"
                placeholder="Nhập điểm đến"
              />
            </div>
          </div>

          <div
            class="search-form__date-tickets"
            style="display: flex; justify-content: space-around; width: 40%"
          >
            <div class="search-form__date">
              <label>Ngày đi</label>
              <!-- Replaced existing div with a simple input type="date" -->
              <input type="date" id="departureDate" name="departureDate" />
            </div>

            <div class="search-form__tickets">
              <label>Số vé</label>

              <div class="ticket-selector">
                <div class="ticket-selector__selected">
                  <span>1</span>
                  <img
                    alt=""
                    width="32px"
                    height="32px"
                    src="https://futabus.vn/images/icons/circle_checkbox_checked.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="search-form__submit-container">
          <button class="search-form__submit-button">Tìm chuyến xe</button>
        </div>
      </div>
    </div>

    <div class="main__content"></div>
  </section>
</main>

