.main {
  width: 100%;
  display: flex;
  justify-content: center;

  .main__hero {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .main__search-area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
  }

  .main__hero-banner {
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main__content {
  }
}

.search-form {
  tab-size: 4;
  font-variation-settings: normal;

  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(17 17 17);
  box-sizing: border-box;
  font-family: InterTight;
  font-weight: 500 !important;
  margin: auto !important;
  width: 1128px !important;
  max-width: 1128px;
  background: #fff;
  border: 1px solid rgba(239, 82, 34, 0.6);
  border-radius: 1rem;
  padding: 1.5rem;
  outline: 8px solid rgba(170, 46, 8, 0.1);
  &__submit-container {
    tab-size: 4;
    font-variation-settings: normal;
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(17 17 17);
    font-weight: 500 !important;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    font-family: InterTight;
    position: relative !important;
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
  }
  &__submit-button {
    tab-size: 4;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    touch-action: manipulation;
    overflow: visible;
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
    text-transform: none;
    background-image: none;
    cursor: pointer;
    position: absolute !important;
    z-index: 10 !important;
    height: 3rem !important;
    border-radius: 9999px !important;
    background-color: rgb(239 82 34) !important;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    color: rgb(255 255 255) !important;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter, -webkit-text-decoration-color,
      -webkit-backdrop-filter !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 0.2s !important;
  }
  &__switch-location {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
  }
}

.search-form__trip-type {
  tab-size: 4;
  font-variation-settings: normal;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  line-height: 1.5rem;
  color: rgb(17 17 17);
  font-weight: 500 !important;

  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  font-family: InterTight;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-size: 15px !important;
}

.search-form__fields {
  tab-size: 4;
  font-variation-settings: normal;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(17 17 17);
  font-weight: 500 !important;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  font-family: InterTight;
  display: grid !important;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  gap: 1rem !important;

  .search-form__location-group {
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(17 17 17);
    font-weight: 500 !important;

    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    font-family: InterTight;
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    gap: 1rem !important;
  }
}

.trip-type-selector {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    margin-right: 15px;

    span {
      margin-left: 5px;
    }
  }
}

.location-selector,
.date-selector,
.ticket-selector {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;

  &__input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }
}

.trip-type-selector__item--checked .radio__inner {
  border-color: #007bff;
  /* Highlight when checked */
}

.trip-type-selector {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    margin-right: 15px;

    span {
      margin-left: 5px;
    }
  }
}

.location-selector,
.date-selector,
.ticket-selector {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;

  &__input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }
}

.trip-type-selector__item--checked .radio__inner {
  border-color: #007bff;
  /* Highlight when checked */
}
