<app-notification></app-notification>
<div class="container">
    <div class="progress-container">
        <div class="progress-step completed">
            <div class="circle">
                <i class="bi bi-check text-white"></i>
            </div>
            <div class="label">Chọn đơn hàng</div>
        </div>
        <div class="progress-step current">
            <div class="circle">
                <i class="bi bi-three-dots text-white"></i>
            </div>
            <div class="label">Điền thông tin</div>
        </div>
        <div class="progress-step">
            <div class="circle">
            </div>
            <div class="label text-muted">Thanh toán</div>
        </div>
    </div>
</div>
<div class="body">
    <div class="container mt-4">
        <div class="row">
            <!-- Order Details Form -->
            <div class="col-lg-8 order-left">
                <h5 class="form-info">Điền thông tin</h5>
                <div class="card p-4 mb-4" style="border-radius: 0px 0px 20px 20px;border: none;">
                    <h5>Thông tin đơn hàng</h5>
                    <div *ngFor="let product of products" class="d-flex border border-gray-500 p-3 mb-3">
                        <img [src]="product.image" alt="{{product.name}}" class="me-3"
                            style="width: 120px; height: auto;">
                        <div>
                            <p style="margin-bottom: 0px;"><strong>{{product.name}}</strong></p>
                            <span>Price: {{product.price | currency: '₫'}}</span><br>
                            <span>Quantity: {{product.quantity}}</span>
                        </div>
                    </div>

                    <!-- Thông tin người tham gia -->
                    <div class="form-section">
                        <h6>Thông tin người tham gia</h6>
                        <button class="btn btn-add" (click)="toggleForm()">+ Thêm</button>
                        <div *ngFor="let user of createUserJoinRequest; let i = index" class="form-group-info">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Số điện thoại <span
                                        class="required">*</span></label>
                                <div class="col-sm-8 form-link">
                                    <a>{{user.phone}}</a>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <span class="btn-edit" (click)="editUser(i)">Chỉnh sửa</span>
                                    <span class="btn-delete" (click)="deleteUser(i)"
                                        style="margin-right: 10px;">Xóa</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Email <span class="required">*</span></label>
                                <div class="col-sm-8 form-link">
                                    <a>{{user.email}}</a>
                                </div>
                            </div>
                        </div>

                        <!-- Overlay nền mờ và modal -->
                        <div *ngIf="showForm" class="modal-overlay">
                            <div class="form-popup form-wide">
                                <div class="popup-container">
                                    <div class="popup-header">
                                        <h5 *ngIf="selectedUserIndex === null">Thêm người tham gia</h5>
                                        <h5 *ngIf="selectedUserIndex !== null">Chỉnh sửa người tham gia</h5>
                                        <button class="btn-close" (click)="toggleForm()"></button>
                                    </div>
                                    <hr style="border: 2px solid #ddd;">
                                    <div class="popup-body">
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="ho">Họ</label>
                                                <span class="text-danger">*</span>
                                                <input [(ngModel)]="createUserJoin.firstName" type="text" id="ho"
                                                    class="form-control" placeholder="Nhập họ" required>

                                                <div *ngIf="formInvalid && !createUserJoin.firstName"
                                                    class="text-danger">
                                                    Họ là bắt buộc.
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="ten">Tên</label>
                                                <span class="text-danger">*</span>
                                                <input [(ngModel)]="createUserJoin.lastName" type="text" id="ten"
                                                    class="form-control" placeholder="Nhập tên" required>
                                                <div *ngIf="formInvalid && !createUserJoin.lastName"
                                                    class="text-danger">
                                                    Tên là bắt buộc.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="soDienThoai">Số điện thoại</label>
                                                <span class="text-danger">*</span>
                                                <input [(ngModel)]="createUserJoin.phone" type="text" id="soDienThoai"
                                                    class="form-control" placeholder="Vui lòng nhập" required
                                                    pattern="^\d{10}$">
                                                <div *ngIf="formInvalid && !createUserJoin.phone" class="text-danger">
                                                    Số điện thoại là bắt buộc.
                                                </div>
                                                <div *ngIf="formInvalid && createUserJoin.phone && !isValidPhone(createUserJoin.phone)"
                                                    class="text-danger">
                                                    Số điện thoại không hợp lệ.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-6" style="padding-left: 0px;">
                                                <label for="email">Email</label>
                                                <span class="text-danger">*</span>
                                                <input [(ngModel)]="createUserJoin.email" type="email" id="email"
                                                    class="form-control" placeholder="Nhập email" required>
                                                <div *ngIf="formInvalid && !createUserJoin.email" class="text-danger">
                                                    Email là bắt buộc.
                                                </div>
                                                <div *ngIf="formInvalid && createUserJoin.email && !isValidEmail(createUserJoin.email)"
                                                    class="text-danger">
                                                    Email không hợp lệ.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p class="form-control" rows="3" readonly>
                                                Tôi hiểu rằng bất kỳ thông tin ID nào được cung cấp sẽ được sử dụng để
                                                đặt các dịch vụ du lịch và nghỉ dưỡng mà tôi đã đăng ký. Tôi cũng hiểu
                                                rằng Klook sẽ bảo vệ thông tin này bằng cách sử dụng mã hóa và các
                                                phương pháp bảo vệ khác.
                                            </p>
                                        </div>
                                    </div>
                                    <hr style="border: 2px solid #ddd;">
                                    <div class="popup-footer">
                                        <button class="btn btn-secondary" (click)="toggleForm()"
                                            style="margin-right: 15px;">Hủy bỏ</button>
                                        <button class="btn btn-primary" (click)="saveInfo()">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="showEditForm" class="modal-overlay">
                            <div class="form-popup form-wide">
                                <div class="popup-container">
                                    <div class="popup-header">
                                        <h5>Chỉnh sửa thông tin</h5>
                                        <button class="btn-close" (click)="toggleEditForm()"></button>
                                    </div>
                                    <hr style="border: 2px solid #ddd;">
                                    <div class="popup-body">
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="ho">Họ</label>
                                                <span class="text-danger">*</span>
                                                <input type="text" id="ho" class="form-control" placeholder="Nhập họ">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="ten">Tên</label>
                                                <span class="text-danger">*</span>
                                                <input type="text" id="ten" class="form-control" placeholder="Nhập tên">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="soDienThoai">Số điện thoại</label>
                                                <span class="text-danger">*</span>
                                                <div class="d-flex">
                                                    <select id="maQuocGia" class="form-control" style="width: 268px;">
                                                        <option value="+84">+84</option>
                                                        <option value="+1">+1</option>
                                                        <option value="+44">+44</option>
                                                        <!-- Thêm mã quốc gia khác nếu cần -->
                                                    </select>
                                                    <div class="col-sm-6" style="width: 268px;margin-left: 10px;">
                                                        <input type="text" id="soDienThoai" class="form-control"
                                                            placeholder="Vui lòng nhập" style="width: 268px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label for="email">Email</label>
                                                <span class="text-danger">*</span>
                                                <input type="email" id="email" class="form-control"
                                                    placeholder="Nhập email">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p class="form-control" rows="3" readonly>
                                                Tôi hiểu rằng bất kỳ thông tin ID nào được cung cấp sẽ được sử dụng để
                                                đặt các dịch vụ du lịch và nghỉ dưỡng mà tôi đã đăng ký. Tôi cũng hiểu
                                                rằng Klook sẽ bảo vệ thông tin này bằng cách sử dụng mã hóa và các
                                                phương pháp bảo vệ khác.
                                            </p>
                                        </div>
                                    </div>
                                    <hr style="border: 2px solid #ddd;">
                                    <div class="popup-footer">
                                        <button class="btn btn-secondary" (click)="toggleEditForm()"
                                            style="margin-right: 15px;">Hủy bỏ</button>
                                        <button class="btn btn-primary" (click)="updateInfo()">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Thông tin khác -->
                    <div class="form-section">
                        <h5>Thông tin khác</h5>
                        <div class="form-group">
                            <label>Yêu cầu đặc biệt</label>
                            <textarea class="form-control-text form-control" rows="3" id="special-request"
                                placeholder="Vui lòng nhập" maxlength="100" style="resize: none;"
                                [(ngModel)]="specialRequest" (ngModelChange)="updateCharCount()"
                                maxlength="100"></textarea>
                            <span class="char-count">{{ charCount }}/100</span>
                        </div>
                    </div>

                    <!-- Thông tin liên lạc -->
                    <div class="form-section">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h5 class="section-title">Thông tin liên hệ:</h5>
                                <p>Chúng tôi sẽ thông báo đầy đủ mọi thay đổi về đơn hàng của bạn</p>
                                <button class="btn btn-add" (click)="toggleContactForm()">+ Thêm</button>

                                <div *ngIf="createUserInfoRequest.length > 0" class="contact-card">
                                    <div *ngFor="let user of createUserInfoRequest; let i = index" class="contact-info">
                                        <div class="row">
                                            <div class="col-md-6 info-col">Họ</div>
                                            <div class="col-md-3">{{user.firstName}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 info-col">Tên</div>
                                            <div class="col-md-3">{{user.lastName}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 info-col">Số điện thoại</div>
                                            <div class="col-md-3">{{user.phone}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 info-col">Email</div>
                                            <div class="col-md-3">{{user.email}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="btn-edit" (click)="editContact(i)">Chỉnh sửa</span>
                                                <span class="btn-delete" (click)="deleteContact(i)">Xóa</span>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal thêm/sửa thông tin liên lạc -->
                            <div *ngIf="showContactForm" class="modal-overlay">
                                <div class="form-popup form-wide">
                                    <div class="popup-container">
                                        <div class="popup-header">
                                            <h5 *ngIf="selectedContactIndex === null">Thêm thông tin liên hệ</h5>
                                            <h5 *ngIf="selectedContactIndex !== null">Chỉnh sửa thông tin liên hệ</h5>
                                            <button class="btn-close" (click)="toggleContactForm()"></button>
                                        </div>
                                        <hr style="border: 1px solid #ddd;">
                                        <div class="popup-body">
                                            <div class="form-group row">
                                                <div class="col-sm-6">
                                                    <label for="ho">Họ</label>
                                                    <span class="text-danger">*</span>
                                                    <input [(ngModel)]="createUserInfo.firstName" type="text" id="ho"
                                                        class="form-control" placeholder="Vd: Nguyen">

                                                    <div *ngIf=" formInvalid && !createUserInfo.firstName" class="text-danger">
                                                        Họ là bắt buộc.
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="ten">Tên</label>
                                                    <span class="text-danger">*</span>
                                                    <input [(ngModel)]="createUserInfo.lastName" type="text" id="ten"
                                                        class="form-control" placeholder="Vd: Huong">
                                                    <div *ngIf="formInvalid && !createUserInfo.lastName" class="text-danger">
                                                        Tên là bắt buộc.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <label for="soDienThoai">Số điện thoại</label>
                                                    <span class="text-danger">*</span>
                                                    <input [(ngModel)]="createUserInfo.phone" type="text"
                                                        id="soDienThoai" class="form-control"
                                                        placeholder="Vui lòng nhập">
                                                    <div *ngIf="formInvalid && !createUserInfo.phone" class="text-danger">
                                                        Số điện thoại là bắt buộc.
                                                    </div>
                                                    <div *ngIf="createUserInfo.phone && !isValidPhone(createUserInfo.phone)"
                                                        class="text-danger">
                                                        Số điện thoại không hợp lệ.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <span class="text-danger">*</span>
                                                <input [(ngModel)]="createUserInfo.email" type="email" id="email"
                                                    class="form-control" placeholder="Vui lòng nhập">
                                                <div *ngIf="formInvalid && !createUserInfo.email" class="text-danger">
                                                    Email là bắt buộc.
                                                </div>
                                                <div *ngIf="formInvalid && createUserInfo.email && !isValidEmail(createUserInfo.email)"
                                                    class="text-danger">
                                                    Email không hợp lệ.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <p class="form-control" rows="3" readonly>
                                                Tôi hiểu rằng bất kỳ thông tin ID nào được cung cấp sẽ được sử dụng
                                                để
                                                đặt các dịch vụ du lịch và nghỉ dưỡng mà tôi đã đăng ký. Tôi cũng
                                                hiểu
                                                rằng Klook sẽ bảo vệ thông tin này bằng cách sử dụng mã hóa và các
                                                phương pháp bảo vệ khác.
                                            </p>
                                        </div>
                                    </div>
                                    <hr style="border: 1px solid #ddd;">
                                    <div class="popup-footer">
                                        <button class="btn btn-secondary" (click)="toggleContactForm()"
                                            style="margin-right: 15px;">Hủy bỏ</button>
                                        <button class="btn btn-primary" (click)="saveContactInfo()">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="showContactEditForm" class="modal-overlay">
                            <div class="form-popup form-wide">
                                <div class="popup-container">
                                    <div class="popup-header">
                                        <h5>Chỉnh sửa thông tin liên lạc</h5>
                                        <button class="btn-close" (click)="toggleContactEditForm()"></button>
                                    </div>
                                    <hr style="border: 1px solid #ddd;">
                                    <div class="popup-body">
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="ho">Họ</label>
                                                <span class="text-danger">*</span>
                                                <input type="text" id="ho" class="form-control"
                                                    placeholder="Vd: Nguyen">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="ten">Tên</label>
                                                <span class="text-danger">*</span>
                                                <input type="text" id="ten" class="form-control"
                                                    placeholder="Vd: Huong">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="soDienThoai">Số điện thoại</label>
                                                <span class="text-danger">*</span>
                                                <div class="d-flex">
                                                    <div class="col-sm-6" style="width: 268px;margin-left: 10px;">
                                                        <input type="text" id="soDienThoai" class="form-control"
                                                            placeholder="Vui lòng nhập" style="width: 268px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email (để cập nhật thông tin đơn hàng của
                                                bạn)</label>
                                            <span class="text-danger">*</span>
                                            <input type="email" id="email" class="form-control"
                                                placeholder="Vui lòng nhập">
                                        </div>
                                        <div class="form-group">
                                            <p class="form-control" rows="3" readonly>
                                                Tôi hiểu rằng bất kỳ thông tin ID nào được cung cấp sẽ được sử dụng
                                                để
                                                đặt các dịch vụ du lịch và nghỉ dưỡng mà tôi đã đăng ký. Tôi cũng
                                                hiểu
                                                rằng Klook sẽ bảo vệ thông tin này bằng cách sử dụng mã hóa và các
                                                phương pháp bảo vệ khác.
                                            </p>
                                        </div>
                                    </div>
                                    <hr style="border: 1px solid #ddd;">
                                    <div class="popup-footer">
                                        <button class="btn btn-secondary" (click)="toggleContactEditForm()"
                                            style="margin-right: 15px;">Hủy
                                            bỏ</button>
                                        <button class="btn btn-primary" (click)="updateContactInfo()">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-12">
                            <h5 class="section-title">Các gói Nâng cấp</h5>
                            <div class="upgrade-card">
                                <!-- Orange Header -->
                                <div class="orange-box">
                                    <h6>Tuyệt vời! Tất cả đã sẵn sàng.</h6>
                                    <img src="https://via.placeholder.com/35" alt="Icon">
                                    <!-- Replace with your icon -->
                                </div>

                                <!-- Options Section -->
                                <div class="upgrade-options">
                                    <!-- Insurance Option -->
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="option1" checked>
                                            <label class="form-check-label" for="option1">
                                                Hoàn Tiền Vàng Mật <span class="badge badge-light">Linh hoạt hủy
                                                    bỏ</span>
                                            </label>
                                            <p class="description">
                                                <img src="https://via.placeholder.com/20" alt="Icon">
                                                <!-- Replace with your icon -->
                                                Lo lắng về những thay đổi phút chót? Nhận lại 60% số tiền bạn đã
                                                thanh toán nếu bạn không thể thực hiện chuyến đi vì bất kỳ lý do
                                                nào.
                                            </p>
                                            <div class="details-links">
                                                <a href="#">Xem chi tiết</a> |
                                                <a href="#">Khu vực áp dụng</a> |
                                                <a href="#">Xem Điều kiện & Điều khoản</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- No Insurance Option -->
                                    <div class="form-group no-insurance">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="option2" checked>
                                            <label class="form-check-label" for="option2">
                                                Không cần bảo hiểm
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Discount Code Section -->
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <h5 class="section-title">Loại ưu đãi</h5>
                            <div class="discount-section">
                                <div class="row">
                                    <div class="col-md-6">
                                        Mã ưu đãi nền tảng
                                    </div>
                                    <div class="col-md-6 text-right">
                                        Không khả dụng
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 2rem;">
                                    <div class="col-md-6">
                                        Mã ưu đãi phương thức thanh toán
                                    </div>
                                    <div class="col-md-6 text-right">
                                        Không khả dụng
                                    </div>
                                </div>
                                <p>Hiện không có mã ưu đãi nào khả dụng cho đơn hàng này.</p>
                            </div>
                            <input class="form-check-input" type="checkbox" id="option1" checked>
                            <span style="padding: 15px;">Tôi đã hiểu và đồng ý với <a href="#">Điều khoản Sử
                                    dụng</a>
                                và <a href="#">Chính sách Quyền riêng tư</a> của Klook.</span>
                        </div>
                    </div>

                    <!-- Payment Section -->
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="total-section">
                                <p>Vui lòng kiểm tra thông tin chính xác. Một khi đã gửi thông tin, bạn sẽ không thể
                                    thay đổi được.</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-3">
                                <p class="mb-0">Đơn hàng của bạn sẽ được gửi sau khi bạn đến bước tiếp theo. (Bạn có
                                    thể chọn phương thức thanh toán ở trang kế tiếp)</p>
                                <button class="btn btn-payment" (click)="onPayment()">Thanh toán</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-right">
                <div class="col-md-10" *ngFor="let product of products">
                    <div class="card-custom">
                        <h5 class="card-title">{{product.name}}</h5>
                        <hr style="border: 1px solid #ddd;">
                        <div class="d-flex justify-content-between mb-2">
                            <span class="card-content">Đơn vị</span>
                            <span>{{product.quantity}}</span>
                        </div>
                        <hr style="border: 1px solid #ddd;">
                        <div class="d-flex justify-content-between">
                            <span class="text-total">Tổng cộng</span>
                            <span class="total-amount">{{product.price | currency: '₫'}}</span>
                        </div>
                    </div>
                </div>

                <!-- Tổng thanh toán và Credit -->
                <div class="col-md-10">
                    <div class="card-custom">
                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-total">Tổng cộng</span>
                            <span class="total-amount">{{totalPrice | currency: '₫'}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="card-content">Số tiền thanh toán</span>
                            <span class="total-amount" style="color: #f89c1c;font-size: 1.2rem;font-weight: 600;">₫
                                {{totalPrice | currency: '₫'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order Summary -->

    </div>
</div>