.navbackground{
    background-color: white !important;
}

/* html:9 */
.modal-body {
    max-height: 500px; /* Hoặc chiều cao tối đa bạn muốn */
    overflow-y: auto; /* Thêm thanh cuộn theo chiều dọc */
    display: flex;
  }
  
.slide-in-update{
    width: 60%;
    right: 50%;
    left: 23%;
    margin-top: 16%;
}