<h2 class="text-center m-2">Tour Schedule Manager</h2>

<nav class="d-flex navbar navbar-expand-lg navbar-light bg-light navbackground">
    <div class="form-inline my-2 my-lg-0 mr-auto">
        <input [(ngModel)]="searchQuery" style="margin-left: 10px;" style="margin-left: 10px;" name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
          (keyup.enter)="searchTour()">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchTour()">Search</button>
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="reset()">Show all</button>
      </div>
    <button type="button" class="m-3 btn btn-success ml-auto" (click)="addNewSchedule()">New Schedule</button>
</nav>

<!-- Hiển thị danh sách tour -->
<div *ngIf="getTourResponse.length>0" class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Tour Schedule</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let tour of paginatedTours">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Tour ID: {{ tour.id }}</h5>
                    <p class="card-text">Start Time: {{ tour.name}}</p>
                    <p class="card-text">Quantity: {{ tour.startLocation }}</p>
                    <p class="card-text">Status: {{ tour.isActive ? 'Avtive' : 'Stop Operation' }}</p>
                    <button class="btn btn-primary" (click)="viewDetails(tour)">Details</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <button class="m-1 btn btn-secondary" (click)="previousPage()"
                [disabled]="currentPage === 1">Previous</button>
            <button class="m-1 btn btn-secondary" (click)="nextPage()"
                [disabled]="currentPage >= getTourScheduleResponse.length / itemsPerPage">Next</button>
        </div>
    </div>
</div>

<!-- Hiển thị danh sách lịch tua trong ngày -->
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Today</h2>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <!-- Dùng d-flex để căn hàng ngang -->
            <div class="form-group d-flex align-items-center">
              <!-- Thẻ select -->
              <label for="tourFilter" class="mr-2">Filter by Tour</label>
              <select class="form-control mr-3" id="tourFilter" [(ngModel)]="tourSelectedId" name="tourFilter" style="width: auto;">
                <option value="0">-- Select Tour --</option>
                <option *ngFor="let tour of getTourResponse" [value]="tour.id">{{ tour.name }}</option>
              </select>
              
              <!-- Nút Filter -->
              <button class="btn btn-primary" (click)="filterTours()">Filter</button>
            </div>
          </div>
          
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Time Start Tour</th>
                <th>Tour ID</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Schedule Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tour of pagedTours">
                <th scope="row">{{ tour.id }}</th>
                <td>{{ tour.timeStartTour | date: 'short' }}</td>
                <td>{{ tour.idTour }}</td>
                <td>{{ tour.quantity }}</td>
                <td>{{ tour.priceTour | currency: 'USD' }}</td>
                <td>{{ tour.idTourScheduleStatus }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <!-- Nút Previous -->
              <li class="page-item" [class.disabled]="currentPageSchedule === 1">
                <a class="page-link" (click)="!stateFilter ? goToPage(currentPageSchedule - 1) : goToPageFilter(currentPageSchedule - 1)">Previous</a>
              </li>
          
              <!-- Các số trang -->
              <li class="page-item" *ngFor="let page of pages" [class.active]="currentPageSchedule === page">
                <a class="page-link" (click)="!stateFilter ? goToPage(page) : goToPageFilter(page)">{{ page }}</a>
              </li>
          
              <!-- Nút Next -->
              <li class="page-item" [class.disabled]="currentPageSchedule === totalPages">
                <a class="page-link" (click)="!stateFilter ? goToPage(currentPageSchedule + 1) : goToPageFilter(currentPageSchedule + 1)">Next</a>
              </li>
            </ul>
          </nav>
          
      </div>      
</div>

<!-- Form Hiển thị chi tiết Tour -->
<div *ngIf="isDisplayDetails" class="modal fade show" tabindex="-1" role="dialog"
    style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content slide-in">
            <div class="modal-body d-flex">
                <!-- Phần bên trái: Thông tin Tour -->
                <div class="col-md-6 col-sm-12">
                    <h5 class="modal-title">Tour Information</h5>
                    <button type="button" class="close" aria-label="Close" (click)="cancel()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" [disabled]="true" class="form-control" id="name" [(ngModel)]="tourDetail.name" name="name"
                                placeholder="Enter tour name" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" [disabled]="true" id="description" [(ngModel)]="tourDetail.description"
                                name="description" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="startLocation">Start Location</label>
                            <input type="text" [disabled]="true" class="form-control" id="startLocation" [(ngModel)]="tourDetail.startLocation"
                                name="startLocation" placeholder="Enter start location">
                        </div>
                        <div class="form-group">
                            <label for="idTourStatus">Avtive</label>
                            <input type="text" [disabled]="true" class="form-control" id="idTourStatus" [(ngModel)]="tourDetail.isActive"
                                name="idTourStatus" placeholder="Enter tour status ID">
                        </div>
                    </form>
                </div>

                <!-- Phần bên phải: Danh sách Tour Schedule -->
                <div class="col-md-6 col-sm-12" style="max-height: 500px; overflow-y: auto;">
                    <h5 class="modal-title">Tour Schedule</h5>
                    <div *ngFor="let schedule of getTourScheduleByIdTour" class="mb-2 border p-2">
                        <div>
                            <strong>Schedule ID:</strong> {{ schedule.id }}
                        </div>
                        <div>
                            <strong>Start Time:</strong> {{ schedule.timeStartTour | date: 'dd/MM/yyyy' }}
                        </div>
                        <div>
                            <strong>Quantity:</strong> {{ schedule.quantity }}
                        </div>
                        <div>
                            <strong>Price:</strong> {{ schedule.priceTour | currency }}
                        </div>
                        <button type="button" class="btn btn-info mt-1" (click)="updateSchedule(schedule, tourDetail)">View</button>
                    </div>
                </div>
            </div>
            <button type="button" class="m-1 btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>


<!-- Modal for adding/updating tour schedule -->
<div *ngIf="isUpdateSchedule" class="modal fade show" tabindex="-1" role="dialog"
    style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content slide-in-update">
            <div class="modal-body-update m-4">
                <form>
                    <h5 class="modal-title">{{ isEditMode ? 'Update' : 'Add' }} Tour Schedule</h5>
                    <button type="button" class="close" aria-label="Close" (click)="cancelUpdate()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                    <!-- Chọn tour -->
                    <div class="form-group">
                        <label for="tourSelect">Tour Name</label>
                        <select class="form-control" id="tourSelect" [(ngModel)]="tourSelected.name" name="tourSelect" required>
                            <option [value]="tourSelected.name">{{ tourSelected.name }}</option>
                        </select>
                    </div>
                    
                    <!-- Số lượng -->
                    <div class="form-group">
                        <label for="scheduleQuantity">Quantity</label>
                        <input type="number" class="form-control" id="scheduleQuantity" [(ngModel)]="updateTourScheduleRequest.quantity" name="scheduleQuantity" placeholder="Enter quantity" required>
                    </div>
                    <div class="form-group">
                        <label for="schedulePrice">Price</label>
                        <input type="number" class="form-control" id="schedulePrice" [(ngModel)]="updateTourScheduleRequest.priceTour" name="schedulePrice" placeholder="Enter price" required>
                    </div>
                    <div class="form-group">
                        <label for="timeStartTour">Start Time</label>
                        <input type="datetime-local" class="form-control" id="timeStartTour" [(ngModel)]="updateTourScheduleRequest.timeStartTour" name="timeStartTour" required>
                    </div>
                    <button type="button" class="m-1 btn btn-secondary" (click)="cancelUpdate()">Cancel</button>
                    <button type="button" class="m-1 btn btn-primary" (click)="saveUpdate()">{{ isEditMode ? 'Update' : 'Add' }}</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div *ngIf="isCreateSchedule" class="modal fade show" tabindex="-1" role="dialog"
    style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content slide-in-update">
            <div class="modal-body-update m-4">
                <form>
                    <h5 class="modal-title">{{ isEditMode ? 'Update' : 'Add' }} Tour Schedule</h5>
                    <button type="button" class="close" aria-label="Close" (click)="closeCreate()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                    <!-- Chọn tour -->
                    <div class="form-group">
                        <label for="tourSelect">Select Tour</label>
                        <select class="form-control" id="tourSelect" [(ngModel)]="createTourScheduleRequest.idTour" name="tourSelect" required>
                          <option value="0" disabled>-- Select Tour --</option> <!-- Mục mặc định -->
                          <option *ngFor="let tour of getTourResponse" [value]="tour.id">{{ tour.name }}</option>
                        </select>
                      </div>
                    
                    <!-- Số lượng -->
                    <div class="form-group">
                        <label for="scheduleQuantity">Quantity</label>
                        <input type="number" class="form-control" id="scheduleQuantity" [(ngModel)]="createTourScheduleRequest.quantity" name="scheduleQuantity" placeholder="Enter quantity" required>
                    </div>
                    <div class="form-group">
                        <label for="schedulePrice">Price</label>
                        <input type="number" class="form-control" id="schedulePrice" [(ngModel)]="createTourScheduleRequest.priceTour" name="schedulePrice" placeholder="Enter price" required>
                    </div>
                    <div class="form-group">
                        <label for="timeStartTour">Start Time</label>
                        <input type="datetime-local" class="form-control" id="timeStartTour" [(ngModel)]="timeStartTour" name="timeStartTour" required>
                    </div>
                    <div class="form-group">
                        <label for="timeStartTour">End Time</label>
                        <input type="datetime-local" class="form-control" id="timeStartTour" [(ngModel)]="timeEndTour" name="timeStartTour" required>
                    </div>
                    <button type="button" class="m-1 btn btn-secondary" (click)="closeCreate()">Cancel</button>
                    <button type="button" class="m-1 btn btn-primary" (click)="onCreate()">{{ isEditMode ? 'Update' : 'Add' }}</button>
                </form>
            </div>
        </div>
    </div>
</div>